#header {
  left: 10px;
	padding: 50px 0 0;
	position: fixed;
	top: 10;
  z-index: 20;
}
        #header h1 {
          left: auto 10%;
          position: fixed;
          top: 40px;
          width: 250px;
          z-index: 40;
        }
        #header h1 a {
          background: url("img/technicolor-revolve.gif") no-repeat center center transparent;
          background-size: auto 100%;
          display: block;
          height: 100;
          text-indent: -6000px;
        }

.background {
  background: url("img/silver-glitter-texture.jpg");
  background-size: 100% auto;
  height: auto 100%;
}
