#header {
  left: 10px;
	padding: 8px 0 0;
	position: fixed;
	right: 10px;
	top: 0;
	z-index: 20;
}
        #header h1 {
          left: 10px;
          position: fixed;
          top: 1px;
          width: 55px;
          z-index: 40;
        }
        #header h1 a {
          background: url(/img/technicolor-revolv.gif) no-repeat center center transparent;
          background-size: auto 100%;
          display: block;
          height: 45px;
          text-indent: -6000px;
        }
